In [23]:
import pandas as pd

caminho_2019 = '../dados/obitos-2019.csv'
caminho_2020 = '../dados/obitos-2020.csv'

dados_2019 = pd.read_csv(caminho_2019)
dados_2020 = pd.read_csv(caminho_2020)

print(f'2019 {dados_2019.shape}')
print(f'2020 {dados_2020.shape}')

2019 (12379, 6)
2020 (14859, 6)

In [8]:
dados_2019.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F      7
1  AC      OUTRAS   DOMICILIO          < 9    M     15
2  AC      OUTRAS    HOSPITAL          < 9    F     30
3  AC      OUTRAS    HOSPITAL          < 9    M     55
4  AC      OUTRAS    IGNORADO          < 9    M      1

In [13]:
dados_2020.sample(5)

       uf tipo_doenca local_obito faixa_etaria sexo  total
8935   MA      OUTRAS    IGNORADO      70 - 79    F      9
8747   CE        SRAG    IGNORADO      70 - 79    F      6
6464   RR        SRAG    HOSPITAL      50 - 59    M      4
14209  DF      OUTRAS    HOSPITAL          N/I    I      8
5486   BA  SEPTICEMIA   DOMICILIO      50 - 59    F     13

In [16]:
len(dados_2019['uf'].unique())

27

In [17]:
len(dados_2020['uf'].unique())

27

In [41]:
total_obitos_2019 = dados_2019.groupby('tipo_doenca').sum()
total_obitos_2019.sort_values('total', ascending=False)

                             total
tipo_doenca
OUTRAS                      659903
PNEUMONIA                   226198
SEPTICEMIA                  175438
INSUFICIENCIA_RESPIRATORIA  100504
INDETERMINADA                 6984
SRAG                          1498
COVID                            1

In [40]:
total_obitos_2020 = dados_2020.groupby('tipo_doenca').sum()
total_obitos_2020.sort_values('total', ascending=False)

                             total
tipo_doenca
OUTRAS                      682577
COVID                       193208
PNEUMONIA                   180424
SEPTICEMIA                  161360
INSUFICIENCIA_RESPIRATORIA   97949
SRAG                         16402
INDETERMINADA                 9582

In [42]:
proporcao = total_obitos_2020 / total_obitos_2019
proporcao

                                    total
tipo_doenca
COVID                       193208.000000
INDETERMINADA                    1.371993
INSUFICIENCIA_RESPIRATORIA       0.974578
OUTRAS                           1.034360
PNEUMONIA                        0.797637
SEPTICEMIA                       0.919755
SRAG                            10.949266

Note o aumento da proporção em casos de SRAG (Sindrome Respiratória Aguda Grave), isso é um indício de subnotificação dos casos de covid.

## Desafio 1: Acessar o portal e verificar como são classificados os dados.